.container {
	overflow: hidden;
	position: absolute;
	display: flex;
	height: 100vh;
	width: 100vw;
	background: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--primary-text);
	height: -webkit-fill-available;
}

.dark {
	--background: linear-gradient(252.44deg, #1a5780 0.01%, #433670 100%);

	--ellipse: linear-gradient(180deg, #082c46 0%, #382b67 94.71%);

	--profile: linear-gradient(110deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1) 100%);
	--profile-border: rgba(255, 255, 255, 0);

	--filterBar: linear-gradient(
		113.42deg,
		rgba(255, 255, 255, 0.651) 0%,
		rgba(255, 255, 255, 0.438) 100%
	);

	--dropdown: linear-gradient(134deg, #958cb4 0%, #768fb9 100%);
	--pointer: #898db6;
	--dropdown-hover: linear-gradient(134deg, #8d7fb6 0%, #5b7aaa 100%);

	--btn: #3a2b70;

	--primary-text: rgba(42, 32, 75, 0.8);
	--secondary-text: #304570;
	--faded-text: #364970;
	--header-text: #9c93bd;
	--contrast-text: rgba(255, 255, 255, 0.95);

	--social-stop-1: rgba(67, 54, 112, 0.95);
	--social-stop-2: rgba(41, 61, 94, 0.95);

	--switch-stop-1: #ffcdb8;
	--switch-stop-2: #bfb3ff;
}

.light {
	--background: linear-gradient(252.44deg, #f0e8ff 0%, #fae6dd 100%);
	/* --background: linear-gradient(252.44deg, #e3fdf5 0%, #ffe6fa 100%); */

	--profile: linear-gradient(110deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.164) 100%);
	--profile-border: rgb(255, 255, 255);

	--filterBar: linear-gradient(
		113.42deg,
		rgba(255, 255, 255, 0.918) 0%,
		rgba(255, 255, 255, 0.678) 100%
	);

	--dropdown: linear-gradient(134deg, #e0c4f0 0%, #f8dfd3 100%);
	--pointer: #e8cde6;
	--dropdown-hover: linear-gradient(134deg, #deb9f1 0%, #f5cebc 100%);

	--btn: #dcc8e8;

	--primary-text: #5f4e80;
	--secondary-text: #564180;
	--faded-text: #9c91b3;
	--header-text: #68568c;
	--contrast-text: #433670;

	--social-stop-1: #dcc8e8;
	--social-stop-2: #ffeacf;

	--switch-stop-1: #322462;
	--switch-stop-2: #1a5780;
}
