.container {
	display: flex;
	align-items: center;
}

.container p {
	font-size: 2vmin;
	color: var(--faded-text);
}

.container svg {
	width: 3.75vmin;
	height: 3.75vmin;
	margin-right: 2vmax;
}

.container use {
	fill: url(#gradient) currentColor;
}

@media (max-width: 650px) {
	.container p {
		font-size: 6vmin;
		color: var(--btn-text);
		margin: 2.75vmax;
	}

	.container svg {
		width: 7vmax;
		height: 7vmax;
	}

	.container use {
		fill: currentColor;
	}
}
