.container {
	display: flex;
	align-items: center;
}

.container p {
	font-size: clamp(1.12rem, 1vmax, 4rem);
	color: var(--faded-text);
}

.container svg {
	width: clamp(2rem, 3.25vmin, 4.25rem);
	height: clamp(2rem, 3.25vmin, 4.25rem);
	margin-right: 2vmax;
}

.container use {
	fill: url(#gradient) currentColor;
}

@media (max-width: 650px) {
	.container p {
		color: var(--btn-text);
		margin: 2.75vmax;
	}

	/* .container svg {
		width: 7vmax;
		height: 7vmax;
	} */

	.container use {
		fill: currentColor;
	}
}
