.container {
	display: flex;
	align-items: center;
}

.container p {
	font-size: 18px;
	color: var(--faded-text);
}

.container svg {
	width: 2rem;
	height: 2rem;
	margin-right: 2.2rem;
}

.container use {
	fill: url(#gradient) currentColor;
}
