.container {
	position: relative;
}
.filterBtn {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	/* font-size: clamp(1rem, 0.75vmax, 2rem); */
	color: var(--faded-text);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	width: clamp(200px, 15vmax, 300px);
	padding: 0.2em 1.2em;
	border: 1px solid rgba(255, 255, 255, 0.253);
	background: linear-gradient(
		113.42deg,
		rgba(255, 255, 255, 0.651) 0%,
		rgba(255, 255, 255, 0.438) 100%
	);
	backdrop-filter: blur(100px);
	position: relative;
	z-index: 20;
	cursor: pointer;
}

.filterBtn svg {
	width: 1em;
	height: 0.6em;
	transition: transform 0.2s;
}

.filterBtn path {
	fill: var(--primary-text);
}

@media (max-width: 650px) {
	.filterBtn {
		/* border-radius: 3; */
	}
}
