.container {
	background: linear-gradient(133.68deg, #958cb4 0%, #768fb9 100%);
	border-radius: 15px 15px 25px 25px;
	position: absolute;
	width: 16rem;
	margin: -2rem 0;
	color: #052842;
	z-index: 8;
}

.container ul {
	margin: 0;
	padding: 2.2rem 0 0;
	text-align: center;
}

.container li {
	list-style: none;
	padding: 0.1rem 0;
	cursor: pointer;
}

.container li:last-child {
	padding-bottom: 0.2rem;
}

.container li:hover {
	background: linear-gradient(133.68deg, #8d7fb6 0%, #5b7aaa 100%);
	color: rgba(218, 218, 218, 0.705);
}

.container li:last-child:hover {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
