.container {
	background: var(--dropdown);
	border-radius: 15px 15px 25px 25px;
	position: absolute;
	width: 16rem;
	margin: -2rem 0;
	color: var(--secondary-text);
	z-index: 15;
}

.container ul {
	margin: 0;
	padding: 2.2rem 0 0;
	text-align: center;
}

.container li {
	list-style: none;
	padding: 0.1rem 0;
	cursor: pointer;
}

.container li:last-child {
	padding-bottom: 0.2rem;
}

.container li:hover {
	background: var(--dropdown-hover);
	color: var(--btn-text);
}

.container li:last-child:hover {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
