.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.85vmax;
	grid-column: 1 / -1;
}

.container h1 {
	margin: 0;
	font-weight: 700;
	font-size: clamp(2.5rem, 2.5vw, 5rem);
	margin-block-start: 0;
	margin-block-end: 0;
	color: var(--header-text);
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
	}
}
