.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.85vmax;
}

.container h1 {
	margin: 0;
	font-weight: 700;
	font-size: 4.25vmin;
	margin-block-start: 0;
	margin-block-end: 0;
}
