.container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* .ellipse1 {
	position: absolute;
	width: 53%;
	height: 94%;
	left: calc(50% - 53% / 2 - 53%);
	top: calc(50% - 94% / 2 - 11%);
	background: var(--ellipse);
	filter: blur(250px);
	z-index: 1;
	overflow: hidden;
}

.ellipse2 {
	position: absolute;
	width: 53%;
	height: 94%;
	left: calc(50% - 53% / 2 + 37%);
	top: calc(50% - 94% / 2 - 50%);
	background: var(--ellipse);
	filter: blur(250px);
	z-index: 1;
}

@media (max-width: 750px) {
	.ellipse1 {
		display: none;
	}
} */
