.container {
	display: flex;
	width: 67vw;
	height: 77vh;
	margin: auto;
	max-width: 1300px;
	max-height: 820px;
	background: linear-gradient(
		113.42deg,
		rgba(255, 255, 255, 0.349) 0%,
		rgba(255, 255, 255, 0.144) 100%
	);
	backdrop-filter: blur(80px);
	border-radius: 30px;
	border: solid 2px rgba(255, 255, 255, 0.281);
	position: relative;
	z-index: 10;
}
