.projectsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, max(18vmax, 28ch));
	grid-template-rows: 10vmin repeat(auto-fit, max(18vmax, 28ch));
	grid-auto-rows: max(18vmax, 28ch);
	justify-content: center;
	gap: clamp(30px, 5vmin, 45px);
	height: 92vh;
}

.arrow {
	height: 5vmin;
}

.arrow svg {
	width: 3vmin;
	display: flex;
	margin: 15px auto 0px;
	fill: var(--header-text);
}

.lastRow {
	height: 0.1px;
	grid-column: 1 / -1;
}
@media (max-width: 650px) {
	.projectsContainer {
		grid-template-columns: repeat(auto-fit, 30ch);
		grid-template-rows: 100px repeat(auto-fit, 30ch);
		grid-auto-rows: 30ch;
	}

	.lastRow {
		height: 50px;
	}

	.arrow {
		display: none;
	}
}
