.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 65%;
	margin: 4.75vmin auto 0;
	height: 90%;
}

.projectsContainer {
	overflow-y: scroll;
	padding-right: 2vmax;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.projectsContainer::-webkit-scrollbar {
	display: none;
}
