.container {
	display: flex;
	background: linear-gradient(
		92.43deg,
		rgba(255, 255, 255, 0.78) 2.38%,
		rgba(255, 255, 255, 0.79) 98.42%
	);
	box-shadow: 1.7vmin 1.7vmin 1.5vmin rgba(0, 0, 0, 0.1);
	border-radius: 4.2vmin;
	padding: 1.75vmin 1.7vmax;
	margin-bottom: 2.5vmin;
	align-items: center;
}

.container img {
	border-radius: 2.1vmin;
	width: 7.05vmax;
	height: 7.05vmax;
}

.detailsContainer {
	margin: 0 1.45vmax;
}

.detailsContainer h2 {
	color: var(--secondary-text);
	margin-block-start: 0;
	margin-block-end: 0;
	font-weight: 400;
	font-size: 3vmin;
}

.detailsContainer p {
	color: var(--secondary-text);
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 1.6vmin;
	margin: 0.26vmin 0 0.52vmin;
}

.btnContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
