.container {
	display: flex;
	align-items: center;
	/* padding-top: 0.45vmin; */
}

.container svg {
	width: clamp(1.25rem, 2.75vmin, 3rem);
	height: clamp(1.25rem, 2.75vmin, 3rem);
	padding-right: 0.4vmax;
	fill: var(--skill-icons);
}
