.container {
	display: flex;
	align-items: center;
}

.container svg {
	width: clamp(1.25rem, 1.75vmax, 3rem);
	height: clamp(1.25rem, 1.75vmax, 3rem);
	padding-right: 0.4vmax;
	fill: var(--skill-icons);
}
