.button {
	width: 100%;
	background: var(--btn);
	backdrop-filter: blur(4px);
	border-radius: 1.15vmin;
	border: none;
	color: var(--btn-text);
	font-weight: 300;
	font-size: 1.75vmin;
	font-family: 'Poppins', sans-serif;
	padding: 1.1vmin 0.5vmax;
	white-space: nowrap;
}
